// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  font-size: 13px;
}

// Colors - Light mode
:root {
  --primary: #0079FF;
  --secondary: #697C9A;
  --dark-blue: #4B6A9B;
  --h2-heading: #2B3442;
  --background-main: #F6F8FF;
  --background-content: #FEFEFE;
  --background-infobox: #F6F8FF;
  --grey-white: #FEFEFE;
  --main-text: #2B3442;
  --p-text: #4B6A9B;
  --input-text: #4B6A9B;
  --white: #FFFFFF;
  --box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

// Colors - Dark mode
[data-theme="dark"] {
  --primary: #0079FF;
  --secondary: #FFFFFF;
  --dark-blue: #141D2F;
  --dark: #1E2A47;
  --h2-heading: #ffffff;
  --background-main: #141D2F;
  --background-content: #1E2A47;
  --background-infobox: #141D2F;
  --grey-white: #FEFEFE;
  --main-text: #2B3442;
  --p-text: #FFFFFF;
  --input-text: #FFFFFF;
  --white: #FFFFFF;
  --box-shadow: 0;
}

// Container divs
.wrapper {
  width: 100%;
  height: 100vh;
  background: var(--background-main)
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 24px;
  padding: 32px 0 32px 0;
}

// Headings and paragraphs
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  color: var(--h2-heading)
}

h2 {
  font-weight: bold;
  font-size: 16px;
  color: var(--h2-heading)
}

// Inputs
input {
  border: 0;
  background: inherit;
  width: 100%;
  font-family: 'Space Mono', monospace;
  color: var(--input-text);
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--p-text);
  }
}

// Button
button {
  background-color: var(--primary);
  padding: 14px;
  border: 0;
  border-radius: 10px;
  color: var(--white);
  font-size: 14px;
  font-family: 'Space Mono', monospace;
}