.main-content {
  display: block;
  box-sizing: border-box;
  background-color: var(--background-content);
  border-radius: 15px;
  padding: 32px 24px 48px 24px;
  box-shadow: var(--box-shadow);
}

.main-profile-top {
  display: flex;
  color: var(--secondary);
}

.main-profile-top-content {
  display: flex;
  flex-direction: column;
  .login {
    color: var(--primary);
    margin-bottom: 6px;
  }
}

.main-profile-bio {
  margin: 24px 0 24px 0;
}

.main-profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--background-main);
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 24px;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      margin-bottom: 8px;
      color: var(--p-text);
    }
    .number {
      color: var(--h2-heading);
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.main-profile-links {
  color: var(--p-text);
  .links-column {
    margin-bottom: 16px;
    div {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .none {
        opacity: 0.6;
      }
      img {
        display: block;
        width: 20px;
        height: 20px;
        object-fit: scale-down;
        margin-right: 20px;
        filter: var(--svg-color)
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}