@media screen and (min-width: 768px) {
  .container {
    align-items: center;
  }
  .header-content {
    width: 570px;
  }
  .main-content {
    width: 570px;
  }
  button {
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 15px;
  }
  span {
    font-size: 15px;
  }
  .avatar {
    img {
      width: 117px;
      height: 117px;
    }
  }
  .main-profile-stats {
    div {
      .title {
        font-size: 13px;
      }
      .number {
        font-size: 22px;
      }
    }
  }
  .main-profile-links {
    display: flex;
    flex-direction: row;
    .links-column {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: flex-start;
    }
  }
}