.search-field {
  background-color: var(--background-content);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 7px;
  box-shadow: var(--box-shadow);
  margin-bottom: 16px;
  img {
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 8px;
  }
}